html
  head
    title Email activation
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css')
  body
    section.hero.is-large
      div.hero-body
        div.columns.is-centered
          div.column.is-centered.is-half
            p Authentication failed. We are working to solve it.
            p Take me back to 
              a(href=`${process.env.APP_URL}/login`) login 
              | page.
